body {
    overflow-x: hidden;
}

.anchorBL {
    display:none;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#logo-wrapper {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 52px;
    background-color: #242424;
}

#info {
    margin-top: 8px;
    font-size: 22px;
    text-align: center;
    color: #bfc7d3;
    width: 100%;
    position: absolute;
}

#info-wrapper {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 200px;
    width: calc(100% - 500px);
    height: 52px;
    background-color: #242424;
}

#time-wrapper {
    z-index: 1000;
    position: fixed;
    top: 52px;
    right: 0;
    width: 300px;
    height: 52px;
    margin-top: -52px;
    background-color: #242424;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    top: 52px;
    left: 200px;
    width: 200px;
    height: 100%;
    margin-left: -200px;
    overflow-y: auto;
    background: #242424;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#assist-wrapper {
    z-index: 1000;
    position: fixed;
    top: 52px;
    right: 300px;
    width: 300px;
    height: 100%;
    margin-right: -300px;
    overflow-y: auto;
    background: #242424;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-left: 2px solid #242424;
}

#page-content-wrapper {
    z-index: -1;
    top: 52px;
    left: 200px;
    right: 300px;
    width: calc(100% - 500px);
    height: 100%;
    position: fixed;
    padding: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    font-size: 28px;
    line-height: 100px;
    margin-bottom: 5px;
    text-align: center;
    background-color: #1C384D;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #00E5FF;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 200px;
    }

    #sidebar-wrapper {
        width: 200px;
    }
}

.time {
	margin-top: 8px;
	font-size: 22px;
	color: #9d9d9d;
    width: 100%;
    text-align: center;
}

#item {
    width: 100%;
    position: fixed;
    height: calc(50% - 52px);
    background-color: #242424;
    overflow-y: auto;
}

.item-nav {
    position: absolute;
    width: 300px;
    height: 50px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.item-nav li {
    font-size: 21px;
    line-height: 48px;
    margin-bottom: 5px;
    text-align: center;
    background-color: #1C384D;
}

.item-nav li a {
    display: block;
    text-decoration: none;
    color: #00E5FF;
}

.item-nav li a:hover {
    text-decoration: none;
    line-height: 48px;
    background: rgba(255,255,255,0.2);
}

#item.detailed .item-nav li a:hover {
    line-height: 96px;
}

.item-nav li a:active,
.item-nav li a:focus {
    text-decoration: none;
}

#top-map {
    position: fixed;
    width: 100%;
    height: 25%;
    top: 0;
}

#foot-map {
    position: absolute;
    width: 100%;
    height: 25%;
    bottom: 52px;
}

#main-map {
    position: fixed;
    width: 100%;
    height: 100%;
}